/*Henter inn skrifttypen Muli */
@font-face {
    font-family: Muli;
    src: url(fonts/muli/Muli.ttf);
}

/*CSS som gjelder for hele prosjektet; body og html */
body {
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
    width: 100vw;
}

a:link {
    text-decoration: none;
}


/*Skriftstiler: */

.header-text {
    color: #175676;
    margin-top: 5px;
}

.small-text {
    font-size: 14px;
}



.event-oversikt{
    border-color: solid black;
    border: 1 px;
}

/* Funksjonell av-og-på-knapp for å merke om det er tillatt med alkohol på arrangementet */

.switch {
    position: relative;
    display: inline-block;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
    background-color: #d1002c;
}

.switch-input:checked + .switch-label::after {
    left: 24px;
}

.event-tittel {
    padding-left: 60%;

}

.submit-btn {
    background-color: #d1002c;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 64px;
    border: 1px #d1002c;
    cursor: pointer;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #bd0028;

}

.profilbilde {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow: hidden;
    border: 1px solid gray;
    cursor: pointer;
}


.event-oversikt {
    border: 2.5px solid white;
    border-radius: 5px;
}
.knappOversikt {
    width: 200px;
    height: 60px;
    font-size: 25px;
}

.meny {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: #D1002C;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto auto;
}
.menu-btn {
    text-align: center;
}
.menu-btn-img {
    height: 40px; 
    margin-top: 10px;
}
/*CSS-klasse for styling av laget som ligger over kartet */
.main-content {
    width: 100%;
    max-width: 500px;
    height: 95%;
    bottom:  0px;
    position: fixed;
    font-size: 1em;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.95);
    transition: 0.25s;
}
.headerEventOversikt {
    color: red;
    padding-bottom: 20px;
    font-size: 1em;
}

#headerOversikt {
    color: white;
    font-size: 35px;
}

.knappOversikt {
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin-right: 50%;
    margin-left: 50%;
}

#ikoner-oversikt {
    width: 35px;
    height: 35px;
}
.close-line {
    margin-top: 0px;
    margin-bottom: 10px;
    height: 5px;
    width: 111px;
    background-color: #737373;
    border-radius: 5px;
}

.meny {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: #D1002C;
    display: grid;
    grid-template-columns: auto auto auto;
}
.menu-btn {
    text-align: center;
}

/*CSS-klasse for styling av lukk/sveip-knappen øverst på laget over kartet */
.content-close {
    width: 100%;
}

/*CSS-klasse for styling av linjen for lukking */
.close-line {
    margin-top: 0px;
    height: 5px;
    width: 111px;
    background-color: #737373;
    border-radius: 5px;
}

/*CSS-klasse for styling av tittelen over lukke-linjen i laget over kartet */
.content-title {
    margin-top: 5px;
    font-size: 12px;
    color: #D1002C;
    font-family: Muli;
}

/*Styling for div i laget som ligger over kartet */
.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-family: Muli;
}

.input-style {
    height: 45px;
    width: 100%;
    font-size: 25px;
    color: #D1002C;
    border: 0px;
    border-bottom: 1px solid #D1002C;
    box-shadow: inset 0 0 3px #bfbfbf;
}

.textarea-st {
    width: 100%;
    height: 160px;
    font-size: 15px;
    color: #D1002C;
    border: 0px;
    border-bottom: 1px solid #D1002C;
    box-shadow: inset 0 0 3px #bfbfbf;
    resize: none;
}

.tbl {
    width: 100%;
}
.tbl td {
    width:  50%;
    text-align: center;
}

.input-event-antall {
    height: 25px;
    width: 100%;
    font-size: 15px;
    color: #D1002C;
    border: 0px;
    border-bottom: 1px solid #D1002C;
    box-shadow: inset 0 0 3px #bfbfbf;
    text-align: center;
}
.tbl-bottom-frm td {
    padding-top: 5px;
}

.logo {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 70px;
    transition: 0.25s;
}
.mapstyle {
    height: calc(100% - 50px); 
    width: 100%; 
    z-index: 0
}


.profilbilde-jj {
    height: 119px;
    width: 120px;
    border-radius: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.input-profil {
    width: 320px;
    height: 20px;
    border-radius: 4%;
    border: 0px;
    border-bottom: 1px solid #d1002c;
}

 .overskrift {
    color: #d1002c;
    text-align: center;
    font-size: 25px;
    font-family: calibri;
     margin-top: 5px;
}

.event-navn {
    color: #D1002C;
    font-size: 20px;
    text-align: center;
}

.info {
    color: #D1002C;
    font-size: 13px;
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
}

.info em {
    color: #175676;
    margin: 0 -2rem;
}

.img1 {
    margin: auto 15px;
    float: right;
    width: 40px;
    height: 50px;
}

.film-navn
{
    color: #D1002C;
    font-size: 20px;
    text-align:center;
}


@media screen and (min-width: 500px) {
    .main-content {
        width: 100%;
        max-width: 500px;
        height: 100%;
        border-radius: 0px;
    } 
    .logo {
        z-index: 999;
        bottom: 60px;
        right: 10px;
        left: auto;
        top: auto;
    }
}

.profil-logo {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    transition: 0.25s;
}

@media screen and (min-width: 500px) {
    .main-content {
        width: 100%;
        max-width: 500px;
        height: 100%;
        border-radius: 0px;
    }

    .profil-logo {
        z-index: 999;
        top: 10px;
        right: 10px;
        left: auto;
        bottom: auto;
    }
}

}

}