

.event-oversikt{
    border-color: solid black;
    border: 1 px;
}

/* Funksjonell av-og-på-knapp for å merke om det er tillatt med alkohol på arrangementet */

.switch {
    position: relative;
    display: inline-block;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
    background-color: #89c12d;
}

.switch-input:checked + .switch-label::after {
    left: 24px;
}

tilleggsinformasjon {
    text-align: center;
    padding: 2rem;
}

/* Funksjonell av-og-på-knapp for å merke om arrangementent foregår utendørs */

.switch-2 {
    position: relative;
    display: inline-block;
}

.switch-input-2 {
    display: none;
}

.switch-label-2 {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switch-label-2::before,
.switch-label-2::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label-2::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.switch-label-2::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

.switch-input-2:checked + .switch-label-2::before {
    background-color: #89c12d;
}

.switch-input-2:checked + .switch-label-2::after {
    left: 24px;
}

.event-tittel {
    padding-left: 60%;

}

textarea {
    width: 30%;
    height: 120px;
    padding: 20px 10px;
    box-sizing: border-box;
    resize: none;

}

body {
    margin: 0px;
}
.opprett-knapp {
    background-color: #d1002c;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 64px;
    border: 1px #d1002c;
    cursor: pointer;
    transform: translate(100%, 100%);
}

/* Last opp bilde */

img {
    height: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

lastoppbilde {
    height: 100vh;
    width: 100%;

}

.profilbilde {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow: hidden;
    border: 1px solid gray;
    cursor: pointer;

}

#bilde {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
}

.divBodyOversikt {
    width: 100%;
    max-width: 500px;
    background-color: white;
    height: 95%;
    bottom:  0px;
    position: fixed;
    font-size: 1em;
    border-radius: 50px;
    opacity: 90%;
    transition: 0.25s;
}
.headerEventOversikt {
    color: red;
    padding-bottom: 20px;
    font-size: 1em;
}

.event-oversikt {
    border: 2.5px solid grey;
    color: solid black;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    font-size: 35px;
    white-space: pre;
}
#headerOversikt {
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;
}

.knappOversikt {
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin-right: 50%;
    margin-left: 50%;
}

#søkefeltoversikt {
    width: 600px;
    height: 30px;
    font-family: Calibri;
    font-size: 25px;
    margin-bottom: 15px;
    border-radius: 5px;

}
#eventOversikt {
    margin-right: auto;
    margin-left: auto;
}
#ikoner-oversikt{
    width: 35px;
    height: 35px;
}

.meny {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: #D1002C;
    display: grid;
    grid-template-columns: auto auto auto;
}
.menu-btn {
    text-align: center;
}